# Tests folder
tests/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
tese_mestrado_venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#data files
data/* 

#vizualization outputs
eda_viz/*

# Exclude everything at root except specific folders and files
/*
!writing/
!src/
# !src/data_processing_exploration/
# !src/data_processing_exploration/processing_tests.ipynb
# !src/data_processing_exploration/processing_auxiliary/
!README.md
!.gitignore